.lesson-history-table-container {
    display: flex;
    justify-content: center;
    align-items: start;

    width: 100%;
    height: 100%;

    overflow: auto;
}

.lesson-history-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 90%;
    max-width: 800px;

    margin-top: 50px;
    margin-bottom: 50px;

    overflow: hidden;
}

.lesson-history-table-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 5fr;
    width: 100%;
    height: 8%;

    border-bottom: solid darkgray 2px;
}

.lesson-history-table-header-item {
    font-weight: bold;
    text-align: center;
    color: gray;
}

.lesson-history-table-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 5fr);
    gap: 10px;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    min-height: 7%;
    width: 100%;
}

.lesson-history-table-row-item {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    white-space: nowrap;

    margin-top: 5px;

    gap: 10px;
    height: 100%;
}

.skillmark-list {
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
    margin: 5px;

    width: 100%;
}

.skillmark-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    color: black;
    text-decoration: none;
}

.skillmark-item:hover {
    filter: brightness(90%);
}

.skillmark-item span {
    width: 300px;
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.skillmark-status-label {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: var(--light-shadow);

    height: 100%;
}

.skillmark-status-label img {
    margin: 5px;
    height: 40px;
}

.image-container {
    display: flex;
    align-items: center;

    height: 100%;
}

.lesson-history-table-row-item img {
    height: 40px;
}