.contentContainer {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;

    background-color: white;
}

.contentContainer :first-child {
    margin-top: 10px;
}

.input {
    width: 60%;
    padding: 10px;
}

.alert {
    font-size: .8rem;
    color: red;
}