.contentContainer {
    width: 90%;
    max-width: 600px;
    height: 80%;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
}

.keyColumn {
    display: flex;
    flex-direction: column;

    font-weight: bold;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    z-index: 1;
}

.valueColumn {
    display: flex;
    flex-direction: column;

    background-color: var(--tile-background-hover);
}

.contentContainer span {
    margin: 10px;
}