.userDetailsTable {
    width: 90%;
    max-width: 600px;
    max-height: 600px;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    padding-bottom: 20px;
}

.keyColumn {
    composes: column;

    font-weight: bold;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    z-index: 1;
}

.valueColumn {
    composes: column;

    background-color: var(--tile-background-hover);
}