.content-container {
    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 800px;

    gap: 5px;

    display: grid;
    grid-template-columns: minmax(0, 100%);
    grid-template-rows: min-content;

    overflow: visible;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    width: 100%;
    aspect-ratio: 1/1;
}

.skill-tile {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    transition: .3s;
}

.skill-tile img {
    height: 10vw;
}

.skill-tile:has(span):hover {
    background-color: var(--tile-background-hover);
    cursor: pointer;
}

.status-label {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: end;
    align-items: start;

    width: 10vw;
    aspect-ratio: 1/1;

    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: black;
}

.status-label > img {
    height: 5vw;
    margin-right: 3px;
    margin-top: 3px;
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;

    height: 100%;
    width: 100%;
}

.item-tile {
    flex-grow: 1;

    width: 100%;

    display: grid;
    grid-template-columns: 8fr 0fr 2fr;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    cursor: pointer;

    transition: .3s;
}

@media (max-width: 600px) {
    .item-tile {
        grid-template-columns: 5fr 0fr 3fr;
    }
}

.item-tile:has(.skill-details):hover {
    grid-template-columns: 3fr 5fr 2fr;
}

.item-tile:hover {
    background-color: var(--tile-background-hover);
}

.skill-overview {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: 2rem;
    font-weight: bold;
}

.item-tile:hover > .skill-overview {
    box-shadow: var(--light-shadow);
    clip-path: inset(0px -15px 0px 0px);

    text-align: center;
}

.skill-overview > img {
    height: 40px;
}

.skill-overview > span {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.skill-details {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;

    transition: width .3s;

    overflow: hidden;
}


.item-tile:not(:has(.skill-details)) .progress-graph {
    grid-column: 3/3;
}

.skill-details > span {
    width: 350px;
    min-width: 350px;
    height: 100px;

    text-align: justify;
    text-justify: inter-word;

    overflow: auto;
}

.progress-graph {
    display: grid;

    box-shadow: var(--light-shadow);
}

.shape-container {
    grid-row: 1/1;
    grid-column: 1/1;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-container > span {
    z-index: 1;
    color: black;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
}

.progress-ring {
    width: 75%;
    aspect-ratio: 1/1;

    clip-path: circle(50% at 50% 50%);

    background: conic-gradient(
            darkred 0%,
            transparent 0%
    );
}

.progress-ring-inner-circle {
    width: 50%;
    aspect-ratio: 1/1;
    clip-path: circle(50% at 50% 50%);
    background-color: white;
}

.skill-presentation {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);
}

.skill-presentation > h1 {
    font-size: 3rem;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.skill-presentation > p {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.skill-presentation > iframe {
    aspect-ratio: 16/9;
    flex-grow: 1;
    width: 80%;

    margin-top: 20px;
    margin-bottom: 30px
}

.path-header {
    display: flex;
    align-items: start;
    overflow: hidden;
}

.path-item {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    height: 35px;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;

    transform: skew(20deg) translateX(-5px);

    cursor: pointer;

    overflow: hidden;
}

.path-item > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.path-item:hover {
    background-color: var(--tile-background-hover);
}

.path-item:not(.empty) > * {
    transform: skew(-20deg);
}

.path-item.empty {
    width: 15px;
    transform: none;
    clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
}

.path-item.grayed-out {
    background-color: var(--tile-background-hover);
    cursor: default;
}

.path-item.grayed-out > img {
    height: 65%;
}