.lessonHistoryTableContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;

    overflow: auto;
}

.lessonHistoryTableTitle {
    width: 90%;
    max-width: 800px;

    margin-top: 30px;
    margin-left: 10px;

    font-size: 2rem;
    font-weight: bold;
    color: gray;
}

.lessonHistoryTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 90%;
    max-width: 800px;

    margin-top: 10px;
    margin-bottom: 50px;
}

.rangeInfoContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.rangeInfo {
    padding: 5px;
    background-color: var(--tile-background);

    border-radius: 5px
}

.prevNextBtn {
    margin-left: 10px;
    margin-right: 10px;

    padding: 5px;

    background-color: var(--tile-background);
    outline: solid gray 1px;
    border-radius: 5px;

    cursor: pointer;
}

.lessonHistoryTableRow {
    position: relative;

    display: grid;
    align-items: center;
    justify-items: center;

    grid-template-rows: min-content;
    grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) 1fr;
    gap: 10px;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    min-height: 7%;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
}

.dateTimeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-left: 5px;
    margin-right: 5px;
}

.homeworkInfo {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;

    padding: 5px;

    outline: solid black 1px;
    border-radius: 5px;
    box-shadow: var(--btn-shadow);

    cursor: pointer;
}

.homeworkInfo span {
    width: min-content;
}

.homeworkInfo img {
    height: 30px;
}

.extendArrow {
    grid-column: 4/4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.extendArrow img {
    height: 20px;
}

.lessonRowDropdown {
    grid-column: 1/5;
    justify-self: stretch;

    margin-left: 5px;
    margin-right: 5px;
}

.skillmarkList {
    display: grid;

    gap: 5px;
    margin: 5px;
}

.skillsAcquiredText {
    text-align: start;
    font-weight: bold;
    color: gray;

    margin-left: 10px;
}

.skillmarkItem {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    box-shadow: var(--light-shadow);

    margin-left: 10px;
    margin-right: 10px;

    text-align: start;

    cursor: pointer;
}

.skillmarkItem span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.skillmarkStatusLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: var(--light-shadow);

    height: 100%;
}

.skillmarkStatusLabel img {
    margin: 5px;
    height: 40px;
}

.imageContainer {
    display: flex;
    align-items: center;

    height: 100%;
}

.lessonHistoryTableRowItem img {
    height: 40px;
}

.skillMarkPreview {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 10px;
}

.skillMarkPreview .videoContainer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
}

.videoContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.videoContainer > iframe {
    aspect-ratio: 16/9;
    width: 75%;
}

.fullDetailsBtn {
    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    width: 80%;
    height: 30px;
    border-radius: 5px;
    outline: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.fullDetailsBtn:hover {
    background-color: var(--tile-background-hover);
}

@media (max-width: 600px) {
    .lessonHistoryTable {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .lessonHistoryTableTitle {
        margin-top: 10px;
        font-size: 8vw;
    }

    .lessonHistoryTable {
        margin-top: 10px;
    }

    .lessonHistoryTableRow {
        font-size: 3.5vw;
    }

    .skillmarkItem {
        height: 50px;
    }

    .extendArrow img {
        height: 5vw !important;
    }

    .homeworkInfo img {
        height: 6vw !important;
    }

    .skillmarkStatusLabel img {
        height: 7vw !important;
    }

    .videoContainer > iframe {
        width: 100%;
    }
}