.content-container {
    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 800px;

    gap: 5px;

    display: grid;
    grid-template-columns: minmax(0, 100%);
    grid-template-rows: min-content;

    overflow: visible;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, min-content);
    gap: 10px;

    width: 100%;
    aspect-ratio: 1/1;
}

.skill-tile {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    font-weight: bold;
    text-align: center;

    transition: .3s;
}

.skill-tile > img {
    height: 50px;
}

.status-label {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: end;
    align-items: start;

    width: 60px;
    aspect-ratio: 1/1;

    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: black;
}

.status-label > img {
    width: 30px;
    margin-right: 3px;
    margin-top: 3px;
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;

    height: 100%;
    width: 100%;
}

.item-tile {
    position: relative;
    flex-grow: 1;

    width: 100%;

    display: grid;
    grid-template-columns: 8fr 2fr;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    cursor: pointer;

    transition: .3s;
}

@media (max-width: 600px) {
    .item-tile {
        grid-template-columns: 5fr 3fr;
    }
}

.item-overview {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: 1.5rem;
    font-weight: bold;
}

.item-overview > img {
    height: 40px;
}

.item-overview > span {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.progress-graph {
    display: grid;

    box-shadow: var(--light-shadow);
}

.shape-container {
    grid-row: 1/1;
    grid-column: 1/1;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-container > span {
    z-index: 1;
    color: black;
    align-items: center;

    font-weight: bold;
}

.progress-ring {
    width: 75%;
    aspect-ratio: 1/1;

    clip-path: circle(50% at 50% 50%);

    background: conic-gradient(
            darkred 0%,
            transparent 0%
    );
}

.progress-ring-inner-circle {
    width: 50%;
    aspect-ratio: 1/1;
    clip-path: circle(50% at 50% 50%);
    background-color: white;
}

.skill-presentation {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);
}

.skill-presentation > h1 {
    font-size: 2rem;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.skill-presentation > p {
    margin-left: 10%;
    margin-right: 10%;
}

.skill-presentation > iframe {
    aspect-ratio: 16/9;
    flex-grow: 1;
    width: 80%;

    margin-top: 20px;
    margin-bottom: 30px
}

.path-header {
    display: flex;
    align-items: start;
    overflow: hidden;
}

.path-item {
    display: flex;
    align-items: center;
    gap: 4px;

    padding-left: 10px;
    padding-right: 10px;

    height: 35px;

    background-color: var(--tile-background);
    box-shadow: var(--light-shadow);

    font-weight: bold;
    white-space: nowrap;

    transform: skew(20deg) translateX(-5px);

    cursor: pointer;

    overflow: hidden;
}

.path-item > img {
    height: 20px;
}

.path-item > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.path-item:hover {
    background-color: var(--tile-background-hover);
}

.path-item:not(.empty) > * {
    transform: skew(-20deg);
}

.path-item.empty {
    width: 15px;
    transform: none;
    clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
}

.path-item.grayed-out {
    background-color: var(--tile-background-hover);
    cursor: default;
}

.path-item.grayed-out > img {
    height: 65%;
}

.info-button {
    z-index: 5;
    position: absolute;
    right: 10px;
    top: 10px;

    transform-style: preserve-3d;

    cursor: pointer;
}

.info-button > img {
    width: 20px;
    aspect-ratio: 1/1;
}

.info-button:hover {
    transform: scale(1.2);
}

.info-modal {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);

    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.info-modal-text {
    margin: 20px;
    margin-right: 40px;

    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.exit-btn {
    z-index: 5;
    position: absolute;
    right: 10px;
    top: 10px;

    pointer-events: auto;
}

.exit-btn:hover {
    transform: scale(1.2);
}

.exit-btn > img {
    width: 30px;
    aspect-ratio: 1/1;
    filter: invert();
}

@media (max-width: 600px) {
    .skills-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .skill-tile > img {
        height: 10vw;
    }

    .status-label {
        width: 10vw;
    }

    .status-label img {
        width: 4.5vw;
    }

    .info-modal-text {
        font-size: 4vw;
    }
}