.locationSelector {
    position: fixed;
    top: 70px;

    width: 100vw;
    height: 100vh;

    padding: 10px;

    background-color: rgba(0, 0, 0, 80%);
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.exitBtn {
    align-self: end;
    margin-right: 10px;

    filter: invert();
}

.exitBtn img {
    height: 2rem;
}

.itemSelect {
    width: 100%;
    max-width: 400px;

    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

.item {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    box-shadow: var(--light-shadow);
    background-color: white;

    border-radius: 5px;
}