html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    margin: 0;
}

:root {
    --light-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --hard-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    --tile-background: rgba(255, 255, 255, 0.6);
    --tile-background-hover: rgba(230, 230, 230, 1);
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto;

    width: 100vw;
    height: 100vh;
}

.view-container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    width: 100%;

    background-color: rgb(230, 230, 230);
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
